*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body{
    height: 100vh;
    
    background-color: antiquewhite;
}

.carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.buttons{
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.arrowbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(1000%, -60%);
    height: 7vh;
    width: 5vh;
    background-color: rgb(46, 45, 45);
    border: solid 0.1vh;
    transition: 0.5s;
}

 .b2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1000%, -60%);
    height: 7vh;
    width: 5vh;
    background-color: rgb(46, 45, 45);
    border: solid 0.1vh;
    transition: 0.5s;
}

.heroButton{
    height: 7vh;
    width: 20vh;
    background-color: aqua;
    border: solid 0.1vh;
    opacity: 0;
    pointer-events: none;
}

.heroButton[data-index="1"]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: brown;
    opacity: 1;
}